.cv-educationTitleStyle {
    font-weight: bold;
}
.cv-educationDiscriptionStyle {
    font-weight: bold;
    font-size: 20px
}
.cv-educationLength {
    
}
.cv-educationAwardStyle {
    color: rgb(0, 56, 78);;
    font-weight: bold;
}