.textOrangeUnderline {
  border-style: solid;
  border-color: orange;
  border-left-color: white;
  border-right-color: white;
  border-top-color: white;
  margin: 0;
  padding: 0;
}

.cv-mainSections {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: fit-content;
  padding: 1rem;
  margin: 1rem;
  box-shadow: black 0 0 10px;
  line-height: 1.6;
}
.cv-mainSections p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.cv-projectDescription {
  font-family: "Gill Sans", "Gill Sans MT", Calibri;
}
