:root {
    --blue-LR: linear-gradient(to right, rgb(248, 132, 0), #994a01);
    --blue-RL: linear-gradient(to left, rgb(248, 132, 0), #994a01);
    
}
h1 {
    font-family: 'Courier New', Courier, monospace;
}

#cv-pexel {
    height: 65rem;
    width: 65rem;
    
}
#frontEndDeveloper {
    color: #F78301
}

.cv-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.profileIcons {
    width: 2rem;
    height: 2rem;
}
.cv-pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    max-width: 65rem;
    min-width: 30rem;
    box-shadow: 0px 0px 50px -15px;
    
}
.cv-parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cv-topDivContainer {
    position: relative;
    width: 100%;
    height: 20rem;
    overflow: hidden;
}
.cv-topDivName {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    top: 2rem;
    left: 2rem;
    color: white;
    position: absolute;

}
.cv-topDivGithub {
    color: #017D94;
    position: absolute;
    top: 14rem;
}
.cv-topDivAdres {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.cv-profileContainer {
    display: flex;
    flex-direction: column;
    
}
.cv-profileInfo {
    color: white;
    background-image: var(--blue-LR);
    width: 15rem;
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
    box-shadow: black 10px 5px 20px 5px 
}
.profineInfolayout {
    display: flex;
    flex-direction: row;
}
.cv-educationTitleStyle {
    font-weight: bold;
    font-size: 20px
}

.cv-educationDiscriptionStyle {
    
}

.cv-mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80rem;
    
}
