body {
  
}

.landingPage-container {
  background-image: linear-gradient(to right, #00090E, #004B72);
  width: 100%;
  height: 90rem;
}

.landingPage-mainSection {
  width: 100%;
  height: 80rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.landingPage-DivItems {
  
}

.landingPage-Items {
  width: 100px;
  height: 100px;
}

#circle {
  position: absolute;
  border: solid;
  width: 200px;
  height: 200px;
  margin: 20px;
  shape-outside: circle();
  clip-path: circle();
  background: transparent;
}
.menuNavWords {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  
}
.menuNavWords:hover {
  
}