body {
  background-image: linear-gradient(to right, #00090E, #004B72);
}


.landingPage-Container {
  width: 100%;
  height: 75rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: blue;
}

.landingPage-DivItems {
  
}

.landingPage-Items {
  width: 100px;
  height: 100px;
}

#circle {
  position: absolute;
  border: solid;
  width: 200px;
  height: 200px;
  margin: 20px;
  shape-outside: circle();
  clip-path: circle();
  background: transparent;
}