body {
}

.landingPage-container {
  background-image: linear-gradient(to right, #00090e, #004b72);
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landingPage-DivItems {
}

.landingPage-Items {
  width: 100px;
  height: 100px;
}

.menuNavWords {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.menuNavWords:hover {
}
